*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(/hader_cabrera/HTML/img/fondo_menu.gif);
}
.column{
    display: inline-block;
    border: 1px solid black;
    vertical-align: top ;
}
#center{
    width: 60%;
}
#right, #left{
    width: calc(20% - 2px);

}
.column #right_top{
    border: 1px solid grey;
    background-color: rgba(221, 221, 221, 0.614);
    padding: 15px 5px;
}
.column #right_botton{
    border: 1px dashed red;
    background-color: rgba(255, 228, 196, 0.647);
    padding: 15px 5px;
    margin-top: 1em;
}
img{
    width: 100px;
    height: 100px;
    float: left;
    padding: 5px;
}


