*{
    margin: 0px;
    padding: 0px;
}
.grip{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /*Espaciado entre elementos*/
    gap: 1em;
    /* para modificar tamaño vertical de elementos*/
    grid-auto-rows: minmax(100px, auto);
    /* para modificar verticalmente todos los elementos*/
    align-items:stretch;
    /* para modificar horizontalmente todos los elementos*/
    justify-items: stretch;
    background-color: aquamarine;
    }
    .element1{
        /*ajustar tamaño de elementos horizontalment        e por lineas de la matriz*/
        grid-column: 1/4;
    }
    .element3{
        grid-column: 1/3;
    }
.grip > div{
    border: 1px solid black;
    background: #ecf0f1;
    padding: 1em;
    }